name: Pipeline
on:
  push:
    branches:
      - master
jobs:

  main:
    name: main
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.14
      id: go

    - name: Check out code
      uses: actions/checkout@v1

    - name: Test
      run: |
        sudo apt-get install -y make > /dev/null
        make test

    - name: Build
      run: |
        make build

    - name: Tag git
      env:
        GIT_USERNAME: ${{ secrets.GIT_USERNAME }}
        GIT_PASSWORD: ${{ secrets.GIT_PASSWORD }}
      run: |
        make tag

    - name: Upload to S3
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      run: |
        make upload_to_S3


    - uses: actions/upload-artifact@master
      with:
        name: semtag
        path: /tmp/semtag
